@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,500&display=swap');
:root {
	--font: 'Montserrat', 'Arial', 'sans-serif';
	--primary-color: #219ebc;
	--background: #f1faee;
	--space: 20px;
	--text-small: 10px;
	--modal-bg: rgba(0,0,0,0.4);
	--nav-position: 5;
	--icon-position: 6;
	--carousel-position: 1;
	--modal-position: 7;
	--close-position: 8;
	--animation-btn-position: 1;
	--animation-btn: 2;

/*----------------- Navbar ----------------- */
	--nav-background: #023047;
	--text-select: #fff;
}

/*----------------- Initial Settings ----------------- */

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
}

body {
	margin: 0;
	padding: 0;
}

a, span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--primary-color);
}

button {
	border: none;
	background-color:;
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 100%;
	height: 100vh;
	padding-top: 68px;
	background-color: var(--background);
}

.title {
	width: 450px;
	font: bolder 40px var(--font);
	letter-spacing: 20px;
	color: var(--primary-color);
	border: 5px solid var(--primary-color);
	border-radius: 30px;
	background-image: url(images/cool-bg.png);
	margin-bottom: var(--space);
}

.animated {
	animation: animated 800ms forwards;
}

@keyframes animated {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.hide {
	display: none;
}

.add-white {
	color: var(--text-select);
}

/*----------------- Navbar ----------------- */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	color: var(--primary-color);
	background-color: var(--nav-background);
	padding: 0 10px 0 10px;
	position: fixed;
	top: 0;
	z-index: var(--nav-position);
}

.wrapper-options {
	justify-content: center;
	width: 100%;
	grid-column-gap: 30px;
}

.icon {
	cursor: pointer;
}

.icon i:nth-child(1) {
	display: none;
}

.wrapper-options > a:active, .wrapper-options > a:hover {
	color: var(--text-select);
	transform: scale(0.9);
	transition: 800ms;
}

@media only screen and (max-width: 539px) {

	.navbar {
		justify-content: center;
		min-height: 60px;
		height: auto;
		padding: 5px;
		grid-column-gap: 15px;
		animation: dropdown 1000ms forwards;
		-webkit-animation: dropdown 1000ms forwards;
	}

	@keyframes dropdown {
		0% {min-height: 0; height: auto;}
		100% {min-height: 60px; height: auto;}
	}

	@-webkit-keyframes dropdown {
		0% { min-height: 0; height: auto; }
		100% { min-height: 60px; height: auto; }
	}

	.wrapper-options {
		display: none;
	}

	.show {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 30px;
		grid-row-gap: 7px;
		width: 80%;
		height: auto;
		animation: display 1000ms forwards;
		-webkit-animation: display 1000ms forwards;
	}

	@keyframes display {
		0% { opacity: 0; height: 0;}
		50% { height: 90px; }
		100% { opacity: 1; height: 90px; }
	}

	@-webkit-keyframes display {
		0% { opacity: 0; height: 0; }
		50% { height: 90px; }
		100% { opacity: 1; height: 90px; }
	}

	.wrapper-options > a:active, .wrapper-options > a:hover {
		color: var(--text-select);
		transform: scale(0.9);
		transition: 800ms;
		-webkit-transition: 800ms;
	}

	.icon i:nth-child(1) {
		display: block;
		position: absolute;
		right: 20px;
		z-index: var(--icon-position);
	}

	.icon i:nth-child(2) {
		position: absolute;
		bottom: -550px;
		right: 20px;
		z-index: var(--icon-position);
	}
}

/*----------------- ABOUT ----------------- */

#profile-picture {
	width: 120px;
	margin: var(--space);
	border-radius: 50%;
	float: left;
	shape-outside: circle(50%);
}

.box-big {
	width: 100%;
	height: 75%;
}

.wrapper-about {
	width: 80%;
	height: 100%;
	border-radius: 30px;
	background-image: url(images/cool-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 8px;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.wrapper-about::-webkit-scrollbar {
 	display: none;
}

[data-name="gf"] {
	border-radius: 50%;
	color: var(--text-select);
	position: absolute;
	left: 8px;
	animation: rotation 60s linear 0s infinite normal forwards;
	-webkit-animation: rotation 60s linear 0s infinite normal forwards;
}

@keyframes rotation {
	0.0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

@-webkit-keyframes rotation {
	0.0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

.wrapper-dates {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 10px;
}

.wrapper-dates > img:nth-child(1), .wrapper-dates > img:nth-child(2), .wrapper-dates > img:nth-child(3) {
	width: 160px;
	color: var(--primary-color);
	border: 3px solid var(--primary-color);
	background-color: lightgrey;
	border-radius: 30px;
}

.wrapper-dates .center:nth-child(1):hover, .wrapper-dates .center:nth-child(2):hover, .wrapper-dates .center:nth-child(3):hover {
	cursor: pointer;
	animation: border 1300ms infinite alternate forwards;
	-webkit-animation: border 1300ms infinite alternate forwards;
}

@keyframes border {
	0% { border-color: hsla(192, 70%, 43%, 1); }
	100% { border-color: hsla(192, 70%, 43%, 0); }
}

@-webkit-keyframes border {
	0% { border-color: hsla(192, 70%, 43%, 1); }
	100% { border-color: hsla(192, 70%, 43%, 0); }
}

@media only screen and (max-width: 539px) {
	.title {
		width: 300px;
		font: bolder 32px var(--font);
		letter-spacing: 12px;
	}

	.box-big {
		height:90%;
		margin-bottom: var(--space);
	}

	.wrapper-about {
		font-size: var(--text-small);
	}
	.wrapper-dates > img:nth-child(1), .wrapper-dates > img:nth-child(2), .wrapper-dates > img:nth-child(3) {
		width: 80px;
		height: 80px;
		color: var(--primary-color);
		border: 3px solid var(--primary-color);
		background-color: lightgrey;
		border-radius: 30px;
	}
}

/*----------------- SKILLS ----------------- */

.wrapper-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30px;
	grid-template-areas: 
	"skill description description"
	"skill description description"
	"skill description description"
	"skill description description"
	"skill description description";
	width: 80%;
	height: 400px;
	border: 5px solid var(--primary-color);
	border-radius: 30px;
}

.options {
	grid-area: skill;
	display: grid;
	grid-row-gap: 10px;
	background-image: url(images/cool-bg.png);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 26px;
}

.options > span {
	display: flex;
	justify-content: start;
	column-gap: 5px;
	margin-left: 30%;
}

.options > span:hover {
	cursor: pointer;
	color: var(--text-select);
	transition: 800ms;
}

.skill-content {
	grid-area: description;
	display: grid;
	align-content: center;
	grid-row-gap: 10px;
	
}

.certificate {
	width: 50%;
	height: auto;
	cursor: pointer;
}

.splide__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	background-color: var(--background);
}
.splide__track, .splide__list {
	position: relative;
	z-index: var(--carousel-position);
}

/*Modal certificates*/
.modal {
	display: none;
	width: 100%;
	height: 100%;
	background-color: var(--modal-bg);
	position: fixed;
	z-index: var(--modal-position);
	top:0;
	left: 0;
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/*Add Animation*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0;} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-16rem; opacity:0}
    to {top:0; opacity:1}
}

.modal-container {
	width: 70%;
	height: 90vh;
	position: relative;
	left: 15%;
	top: 5%;
}

.modal-img {
	width: 100%;
	height: 100%;
}

.close {
	color: white;
	font-size: 1.68rem;
	font-weight: bold;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: var(--close-position);
}

@media only screen and (max-width: 539px) {
	.wrapper-skills {
		grid-template-columns: 105px 1fr 1fr;
		width: 80%;
		height: 300px;
		font-size: var(--text-small);
		border: 5px solid var(--primary-color);
		border-radius: 30px;
	}

	.options {
		height: 100%;
	}

	.options > span {
		margin-left: 8px;
	}

	.certificate {
		width: 90%;
	}
}

/*----------------- EXPERIENCE ----------------- */

#experience {
	position: relative;
	overflow-y: hidden;
}

#animation-place {
	width: 100%;
	position: absolute;
	top: 200px;
	z-index: var(--animation-btn-position);
}

#play {
	width: 500px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 200px;
	z-index: var(--animation-btn);
	animation: taunt 1500ms infinite alternate forwards, up 1000ms 100ms forwards paused;
	-webkit-animation: taunt 1500ms infinite alternate forwards, up 1000ms 100ms forwards paused;
}

@keyframes up {
	100% { top: 0; opacity: 1; }
}

@-webkit-keyframes up {
	100% { top: 0; opacity: 1;  }
}

@keyframes taunt {
	0% { opacity: 0.2; transform: translate(5px); }
	5% { transform: translate(-5px); }
	20% { transform: translate(5px); }
	30% { transform: translate(-5px); }
	40% { transform: translate(5px); }
	50% { transform: translate(-5px); }
	100% { opacity: 1; }
}

@-webkit-keyframes taunt {
	0% { opacity: 0.2; transform: translate(5px); }
	5% { transform: translate(-5px); }
	20% { transform: translate(5px); }
	30% { transform: translate(-5px); }
	40% { transform: translate(5px); }
	50% { transform: translate(-5px); }
	100% { opacity: 1; }
}

/*SETTING ANIMATION PROPERTIES*/
.animation-specification {
	display: flex;
	justify-content: center;
	width: 100%;
}

.animation-specification > h3, .animation-specification > p {
	text-align: center;
	width: 200px;
	opacity: 0;
}

.animation-line {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	position: relative;
	right: 102px;
}

.line {
	width: 203px;
	height: 0;
	border-right: 2px solid var(--primary-color);
}

.animation-arrow {
	display: flex;
	justify-content: center;
	width: 100%;
}

.arrow {
	width: 203px;
}

.spear {
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 20px solid var(--primary-color);
	border-left: 10px solid transparent;
	opacity: 0;
	transform: rotate(180deg);
	position: relative;
	left: 90px;
	bottom: 10px;
}

.responsibilities {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	position: relative;
	top: -55px;
}

#parentesis {
	font-size: 20vw;
	font-weight: 400;
	color: var(--primary-color);
	position: relative;
	top: -20px;
}

.responsibilities-description {
	display: grid;
	text-align: left;
	gap: 0.45rem;
}

.responsibilities :is(h1, li) {
	opacity: 0;
}

/*DEFAULT ANIMATION SETTING*/
[data-animation] {
	animation:
    var(--name, none)
    var(--duration, 1000ms)
    var(--timing, linear)
    var(--delay, 0s)
    var(--iteration, 1)
    var(--direction, normal)
    var(--fillmode, forwards)
    var(--playstate, paused);
    -webkit-animation-name: var(--name, none);
    -webkit-animation-duration: var(--duration, 1000ms);
    -webkit-animation-timing-function: var(--timing, linear);
    -webkit-animation-delay: var(--delay, 0s);
    -webkit-animation-iteration-count: var(--iteration, 1);
    -webkit-animation-direction: var(--direction, normal);
    -webkit-animation-fill-mode: var(--fillmode, forwards);
    -webkit-animation-play-state: var(--playstate, paused);
}

/*SHOW SPECIFICATION INFORMATION (THIS WILL SHOW FIRST)*/
[data-animation="job"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 500ms;
}

[data-animation="type"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 700ms;
}

[data-animation="organization"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 900ms;
}

[data-animation="field"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 1100ms;
}

[data-animation="period"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 1300ms;
}

/*DISPLAY THE VERTICAL LINE OF THE ARROW FOR EACH SPECIFICATION (THIS WILL SHOW SECOND)*/
[data-animation="line1"] {
	--name: linea;
	--duration: 1250ms;
	--delay: 1500ms;
}

[data-animation="line2"] {
	--name: linea;
	--duration: 1250ms;
	--delay: 1700ms;
}

[data-animation="line3"] {
	--name: linea;
	--duration: 1250ms;
	--delay: 1900ms;
}

[data-animation="line4"] {
	--name: linea;
	--duration: 1250ms;
	--delay: 2100ms;
}

[data-animation="line5"] {
	--name: linea;
	--duration: 1250ms;
	--delay: 2300ms;
}

/*DISPLAY THE ARROW FOR EVERY LINE (3TH ANIMATION)*/

[data-animation="arrow-one"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 2500ms;
}

[data-animation="arrow-two"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 2700ms;
}

[data-animation="arrow-three"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 2900ms;
}

[data-animation="arrow-four"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 3100ms;
}

[data-animation="arrow-five"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 3300ms;
}

/*DISPLAY SPECIFICATION DESCRIPTION (4TH ANIMATION)*/

[data-animation="helpdesk"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 3500ms;
}

[data-animation="hybrid"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 3700ms;
}

[data-animation="inelectra"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 3900ms;
}

[data-animation="engineering"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 4100ms;
}

[data-animation="2017"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 4300ms;
}

[data-animation="responsibility-one"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 4500ms;
}

[data-animation="responsibility-two"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 4700ms;
}

[data-animation="responsibility-three"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 4900ms;
}

[data-animation="responsibility-four"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 5100ms;
}

[data-animation="responsibility-five"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 5300ms;
}

[data-animation="responsibility-six"] {
	--name: appear;
	--duration: 1250ms;
	--delay: 5500ms;
}

@keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes linea {
	0% { height: 0; opacity: 0; }
	100% { height: 50px; opacity: 1; }
}

@-webkit-keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes linea {
	0% { height: 0; opacity: 0; }
	100% { height: 50px; opacity: 1; }
}

@media only screen and (max-width: 539px) {
	#play {
		width: 350px;
		text-align: center;
		cursor: pointer;
		position: relative;
		z-index: var(--animation-btn);
		animation: taunt 1500ms infinite alternate forwards, up 1000ms 100ms forwards paused;
		-webkit-animation: taunt 1500ms infinite alternate forwards, up 1000ms 100ms forwards paused;
	}

	@keyframes up {
		100% { transform: translateY(-218px); opacity: 1; }
	}

	@-webkit-keyframes up {
		100% { transform: translateY(-218px); opacity: 1; }
	}

	.animation-specification {
		display: grid;
		justify-content: start;
		grid-row-gap: 10px;
		width: 100%;
		margin-left: 20px;
	}

	.animation-specification:nth-child(4) {
		margin: 0;
		position: absolute;
		left: 200px;
		top: -15px;
		grid-row-gap: 13px;
	}

	.animation-specification > p {
		width: 150px;
	}

	#parentesis {
		font-size: 22vh;
		font-weight: 400;
		color: var(--primary-color);
		position: absolute;
		top: -230px;
		left: 150px;
	}

	.animation-line, .animation-arrow {
		display: none;
	}

	.responsibilities {
		display: block;
		top: 20px;
	}

	.responsibilities-description {
		width: 100%;
	}


	[data-animation="helpdesk"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 1700ms;
	}

	[data-animation="hybrid"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 1900ms;
	}

	[data-animation="inelectra"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 2100ms;
	}

	[data-animation="engineering"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 2300ms;
	}

	[data-animation="2017"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 2500ms;
	}
	
	[data-animation="responsibility-one"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 2700ms;
	}

	[data-animation="responsibility-two"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 1500ms;
	}

	[data-animation="responsibility-three"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 2900ms;
	}

	[data-animation="responsibility-four"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 3100ms;
	}

	[data-animation="responsibility-five"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 3300ms;
	}

	[data-animation="responsibility-six"] {
		--name: appear;
		--duration: 1250ms;
		--delay: 3500ms;
	}	
}

/*----------------- PROJECTS ----------------- */